.Weather {
  border: 1px solid #656768;
  text-align: left;
  color: rgb(135, 135, 135);
  font-family: arial, sans-serif;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 14px 0 5px 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
}
.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    margin-left: 5px;
}